

html {
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  background-color: #192C6F;
  width: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #FEF1EC;
  border-radius: 5px;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: #192C6F;
}

.demo-avatar {
  width: 90%;
  margin: 10px;
}

.mdl-layout__content {
  width: 100%;
  margin: 0 auto;
}

main {
  max-width: 900px;
  margin: 32px auto;
}



.app .content-list ul {
  display: grid;
  grid-gap: 24px;
  list-style: none;
}

.titulo-tel {
  margin-right: 7px;
}

.titulo-mnc {
  margin-left: 52px;
}


.mdl-color-text--blue-grey-400 :hover {
  color: #FEF1EC;
}

p {
  margin: 0px;
  padding: 0px 10px;
}

.mdl-layout__drawer {
  background-color: #FFFFFF;
}

.li-block {
  cursor: not-allowed;
  background-color: #faf3f15c;
}

.nome-excluido {
  color: #192c6f48 !important;
}

.cidade-excluido {
  color: #192c6f48 !important;
}

.telefone-excluido {
  color: #192c6f48 !important;
}

#img-logo {
  margin: 30px 200px;
  width: 400px;
  margin-top: 10px;
}

.liHome {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.titulo-li {
  display: flex;
  justify-content: space-between;
}

.titulo-li p {
  font-size: 1.1em;
  font-weight: 800;
  color: #F78B60;
  padding: 0px 10px;
}

#listaContatos {
  width: 100%;
  padding: 0%;
}

.content-list {
  margin-top: 20px;
  background-color: #fef1ec73;
  border-radius: 15px;
}

.mnc-ctt {
  text-align: center;
}

.mnc-ctt-nome {
  color: #192C6F;
  font-weight: 700;
  width: 200px;
}

#template {
  display: none;
}

.mnc-telefone {
  display: flex;
  align-items: initial;
  flex-direction: column;
  align-items: end;
}

li p {
  color: #192C6F;
  font-weight: 700;
  width: 200px;
}

.liHome:hover{
  background-color: #f78b601f;
  transition: .3s;
  cursor: pointer;
  /* margin-left: 2px;
  margin-right: 2px; */
  border-radius: 5px;
}

.mdl-layout__header .mdl-color--grey-100 .mdl-color-text--grey-900 {
  display: none;
}

.mainn {
  display: none;
  background-color: #192C6F;
}

#ul-btn {
  display: none;
}


#button-home--cadastro {
  display: none;
}




@media screen and (max-width: 600px) {

  main {
    width: 100%;
  }

  #img-logo {
    width: 80%;
    margin: 20px 13%;
  }

  .titulo-li {
    display: none;
  }


  .content-list {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    background-color: #ffffff;
  }

  .fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .fab button {
    cursor: pointer;
    border-radius: 30px;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }

  .fab button.mainn {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 20;
    color: #FEF1EC;
  }

  .mainn {
    display: inline;
  }

  #button-home--cadastro {
    display: inline;
    background-color: #F78B60;
    color: #FEF1EC;
  }

  #label_home {
    display: inline;
  }

  #ul-btn {
    display: inline;
  }


  .mdl-layout__header .mdl-layout__drawer-button {
    display: none;
  }

  #img-ctt {
    display: none;
  }

  .mdl-layout__header-row {
    padding: 0 30px;
  }

  .mdl-layout__header-row>* {
    color: #192C6F;
    font-weight: 600;
  }
}





html {
  background-color: #FFFFFF;
  /* font-family:'Times New Roman', Times, serif */
}

::-webkit-scrollbar {
  background-color: #192C6F;
  width: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #FEF1EC;
  border-radius: 5px;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: #192C6F;
}

.demo-avatar {
  width: 90%;
  margin: 10px;
}

.mdl-layout__content {
  width: 100%;
  margin: 0 auto;
}

main {
  max-width: 900px;
  margin: 32px auto;
}

.app .content-list ul {
  display: grid;
  grid-gap: 24px;
  list-style: none;
}

.titulo-tel {
  margin-right: 7px;
}

.titulo-mnc {
  margin-left: 52px;
}


.mdl-color-text--blue-grey-400 :hover {
  color: #FEF1EC;
}

/* 
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  background-color: #192C6F;
  color: #FFFFFF;
  border-radius: 5px;
  width: 50%;
  height: 30px;
  /* margin: 20px 20px; */



.mdl-layout__drawer {
  background-color: #FFFFFF;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #F78B60;
  color: #FEF1EC;
  transition: 0.5s;
  opacity: 0.7;
  cursor: pointer;
}


#img-logo {
  margin: 30px 200px;
  width: 400px;
  margin-top: 10px;
}

.titulo-li {
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
}

.titulo-li p {
  font-size: 1.1em;
  font-weight: 800;
  color: #F78B60;
}

#listaContatos {
  width: 100%;
  padding: 0%;
}

.inicial-nome {
    height: 40px; 
    width: 25px;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    border-radius: 25px;
    color: #ffffff;
    display: none;
  }


.content-list {
  margin-top: 20px;
  padding: 20px 0;
  background-color: #fef1ec73;
  border-radius: 15px;
}

#tituloMunicipios {
  position: relative;
  left: 15px;
}


.mdl-layout__header .mdl-color--grey-100 .mdl-color-text--grey-900 {
  display: none;
}

.mainn {
  display: none;
  background-color: #192C6F;
}

#ul-btn {
  display: none;
}


#button-home--cadastro {
  display: none;
}




@media screen and (max-width: 600px) {

  html {
    font-family:'Times New Roman', Times, serif;
  }

  main {
    width: 100%;
  }

  #img-logo {
    width: 80%;
    margin: 20px 13%;
  }

  .titulo-li {
    display: none;
  }


  .content-list {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    background-color: #ffffff;
  }


  .fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .fab button {
    cursor: pointer;
    border-radius: 30px;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }

  .fab button.mainn {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 20;
    color: #FEF1EC;
  }

  .mainn {
    display: inline;
  }

  #button-home--cadastro {
    display: inline;
    background-color: #F78B60;
    color: #FEF1EC;
  }

  #label_home {
    display: inline;
  }

  #ul-btn {
    display: inline;
  }


  .mnc-telefone {
    display: none;
  }

  .mdl-layout__header .mdl-layout__drawer-button {
    display: none;
  }

  #img-ctt {
    display: none;
  }

  .mdl-layout__header-row {
    padding: 0 30px;
  }

  .mdl-layout__header-row>* {
    color: #192C6F;
    font-weight: 600;
  }

  .inicial-nome{
    display: flex;
    justify-content: center;
  }
}