#imagem-logo{
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

#homeMain {
    display: none;
}

#cadastroMain {
    display: none;
}

#btn-erros{
    background-color: red !important;
    color: #FFFFFF !important;
  }

#button-erros {
    background-color: #192C6F !important;
    border-radius: 15px !important;
    color: #FEF1EC !important;
}

#container_incosistencias{
    margin: 30px;    
    display: flex;
    justify-content: end;
}