

html {
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  background-color: #192C6F;
  width: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #FEF1EC;
  border-radius: 5px;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: #192C6F;
}

.demo-avatar {
  width: 90%;
  margin: 10px;
}

.mdl-layout__content {
  width: 100%;
  margin: 0 auto;
}

main {
  max-width: 900px;
  margin: 32px auto;
}

.app .content-list ul {
  display: grid;
  grid-gap: 24px;
  list-style: none;
}

.titulo-tel {
  margin-right: 7px;
}

.titulo-mnc {
  margin-left: 52px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #192C6F;
  color: #FEF1EC;
  transition: 0.5s;
  opacity: 0.7;
}


.mdl-color-text--blue-grey-400 :hover {
  color: #FEF1EC;
}


.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  background-color: #192C6F;
  color: #FFFFFF;
  border-radius: 81px;
  width: 67%;
  margin: 20px auto;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #F78B60;
  color: #FEFFFC;
  transition: 0.5s;
  opacity: 0.7;
}

.mdl-layout__drawer {
  background-color: #FFFFFF;
}


.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #F78B60;
  color: #FEF1EC;
  transition: 0.5s;
  opacity: 0.7;
}


#img-logo {
  margin: 30px 200px;
  width: 400px;
  margin-top: 10px;
}

.liHome {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.titulo-li {
  display: flex;
  justify-content: space-between;
}

.titulo-li p {
  font-size: 1.1em;
  font-weight: 800;
  color: #F78B60;
}

#listaContatos {
  width: 100%;
  padding: 0%;
}

.content-list {
  margin-top: 20px;
  padding: 20px;
  background-color: #fef1ec73;
  border-radius: 15px;
}

.mnc-ctt-nome {
  color: #192C6F;
  font-weight: 700;
  width: 200px;
}

#template {
  display: none;
}

.mnc-telefone {
  display: flex;
  align-items: initial;
  flex-direction: column;
  align-items: end;
}

li p {
  color: #192C6F;
  font-weight: 700;
  width: 200px;
}

.liHome:hover{
  /* background-color: #f78b6042; */
  transition: .3s;
  /* color: #F78B60; */
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 15px;
}

.mdl-layout__header .mdl-color--grey-100 .mdl-color-text--grey-900 {
  display: none;
}

.mainn {
  display: none;
  background-color: #192C6F;
}

#ul-btn {
  display: none;
}


#opcao1 {
  display: none;
}




@media screen and (max-width: 600px) {

  main {
    width: 100%;
  }

  #img-logo {
    width: 80%;
    margin: 20px 13%;
  }

  .titulo-li {
    display: none;
  }


  .mnc-ctt {
    font-weight: 200;
    color: #192c6f57;
    margin-left: 55px;
    margin-top: -10px;
  }

  .content-list {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    background-color: #ffffff;
  }

  .liHome {
    padding-bottom: 10px;
    justify-content: flex-start;
    padding-top: 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .mnc-ctt-nome {
    font-weight: 400;
    font-size: 1.2em;
    width: 70%;
  }

  .fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .fab button {
    cursor: pointer;
    border-radius: 30px;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }

  .fab button.mainn {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 20;
    color: #FEF1EC;
  }

  .mainn {
    display: inline;
  }

  #opcao1 {
    display: inline;
    background-color: #F78B60;
    color: #FEF1EC;
  }

  #label_home {
    display: inline;
  }

  #ul-btn {
    display: inline;
  }


  .liHome:hover {
    /* background-color: #fef1ec5d; */
    color: #FEF1EC;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
  }


  .mdl-layout__header .mdl-layout__drawer-button {
    display: none;
  }

  #img-ctt {
    display: none;
  }

  .mdl-layout__header-row {
    padding: 0 30px;
  }

  .mdl-layout__header-row>* {
    color: #192C6F;
    font-weight: 600;
  }
}





html {
  background-color: #FFFFFF;
  /* font-family:'Times New Roman', Times, serif */
}

::-webkit-scrollbar {
  background-color: #192C6F;
  width: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #FEF1EC;
  border-radius: 5px;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: #192C6F;
}

.demo-avatar {
  width: 90%;
  margin: 10px;
}

.mdl-layout__content {
  width: 100%;
  margin: 0 auto;
}

main {
  max-width: 900px;
  margin: 32px auto;
}

.app .content-list ul {
  display: grid;
  grid-gap: 24px;
  list-style: none;
}

.titulo-tel {
  margin-right: 7px;
}

.titulo-mnc {
  margin-left: 52px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #192C6F;
  color: #FEF1EC;
  transition: 0.5s;
  opacity: 0.7;
}


.mdl-color-text--blue-grey-400 :hover {
  color: #FEF1EC;
}


.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  background-color: #192C6F;
  color: #FFFFFF;
  border-radius: 81px;
  width: 67%;
  margin: 20px auto;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #F78B60;
  color: #FEFFFC;
  transition: 0.5s;
  opacity: 0.7;
}

.mdl-layout__drawer {
  background-color: #FFFFFF;
}


.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #F78B60;
  color: #FEF1EC;
  transition: 0.5s;
  opacity: 0.7;
}


#img-logo {
  margin: 30px 200px;
  width: 400px;
  margin-top: 10px;
}

.liHome {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.titulo-li {
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
}

.titulo-li p {
  font-size: 1.1em;
  font-weight: 800;
  color: #F78B60;
}

#listaContatos {
  width: 100%;
  padding: 0%;
}

.inicial-nome {
    height: 35px; 
    width: 35px;
    font-size: 1.3em;
    font-weight: 700;
    min-width: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    border-radius: 25px;
    color: #ffffff;
    display: none;
  }

.liHome {
  height: 60px
}

.content-list {
  margin-top: 20px;
  padding: 20px;
  background-color: #fef1ec73;
  border-radius: 15px;
}

#tituloMunicipios {
  position: relative;
  left: 15px;
}

.mnc-ctt {
  text-align: center;
}


.mdl-layout__header .mdl-color--grey-100 .mdl-color-text--grey-900 {
  display: none;
}

.mainn {
  display: none;
  background-color: #192C6F;
}

#ul-btn {
  display: none;
}


#opcao1 {
  display: none;
}




@media screen and (max-width: 600px) {

  html {
    font-family:'Times New Roman', Times, serif;
  }

  main {
    width: 100%;
  }

  #img-logo {
    width: 80%;
    margin: 20px 13%;
  }

  .titulo-li {
    display: none;
  }

  .mnc-ctt {
    font-weight: 200;
    color: #192c6f57;
    margin-left: 200px;
    margin-top: -43px;
    text-align: end;
  }

  .content-list {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    background-color: #ffffff;
  }

  .liHome {
    padding-bottom: 10px;
    justify-content: flex-start;
    padding-top: 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .mnc-ctt-nome {
    font-weight: 400;
    font-size: 1.2em;
    width: 40%;
    margin-top:2%;
  }

  .fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .fab button {
    cursor: pointer;
    border-radius: 30px;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }

  .fab button.mainn {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 20;
    color: #FEF1EC;
  }

  .mainn {
    display: inline;
  }

  #opcao1 {
    display: inline;
    background-color: #F78B60;
    color: #FEF1EC;
  }

  #label_home {
    display: inline;
  }

  #ul-btn {
    display: inline;
  }


  .liHome:hover {
    background-color: #fef1ec5d;
    color: #FEF1EC;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
  }


  .mnc-telefone {
    display: none;
  }

  .mdl-layout__header .mdl-layout__drawer-button {
    display: none;
  }

  #img-ctt {
    display: none;
  }

  .mdl-layout__header-row {
    padding: 0 30px;
  }

  .mdl-layout__header-row>* {
    color: #192C6F;
    font-weight: 600;
  }

  .inicial-nome{
    display: flex;
    justify-content: center;
  }
}